/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
.Video {
    padding: 30px 10px;
    border-radius: 10%;
}
.video-container-styles {
    width: 60%;
    margin: 0 auto;
}

.playlist-queue-styles {
    box-shadow: 0px 0px 1px white;
    display: flex;
    align-items: center;
    overflow-x: auto;
    background-color: #212836;
}

.playlist-queue-item-styles {
    margin: 5px;
    cursor: pointer;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
}

.current-playing-video-styles {
    box-shadow: 0px 0px 2px white;
    transition: 0.2s;
}

.thumbnail-styles {
    width: 100%;
    height: 100%;
}

.video-styles {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 549px) {
    .video-container-styles {
        width: 100%;
    }
}